@import 'variables';

.tile {
  background-color: var(--light-blue);
  border: 1px solid var(--light-grey);
  border-radius: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;

  & &__header {
    display: flex;
    flex: 0 1 auto;
    color: var(--dark-grey);
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  & &__description {
    flex: 1 1 auto;
    font-size: 12px;
    height: auto;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }

  & &__footer {
    flex: 0 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--light-grey);
    margin: 10px 15px 0px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
    font-size: 12px;
  }

  & &__articleUrl {
    color: var(--consdata-red);
    text-align: right;
    margin-right: 15px;
    margin-bottom: 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & &__img {
    max-width: 100px;
    max-height: 100px;
  }

  & &__title {
    align-self: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-left: 10px;
    color: var(--dark-grey);
    display: block;
    max-width: 100%;
    font-size: 16px;
    font-weight: bold;
  }

}
